# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
**/GeneratedPluginRegistrant.*
# Android
android/.gradle/
android/local.properties
# iOS
ios/Pods/
ios/.symlinks/
# VS Code
.vscode/
# Xcode
**/*.xcworkspace
**/xcuserdata/
